$fontOs: 'Open Sans';
$fontMs: 'Montserrat';
$fontRbt: 'Roboto';

$black: #000;
$black60: #737373;
$grey: #aab2c1;
$greyVeryLight: #c5ccd9;
$red: #e54724;
$orange: #ff540b;

$mediaWidthDesktop: 1399.98px;
$mediaWidthLaptop: 1199.98px;
$mediaWidthTablet: 991.98px;
$mediaWidthMobile: 767.98px;
