.specialization {
  display: flex;
  flex-wrap: wrap;
  gap: 0 40px;
  @include media-laptop {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 40px;
  }
  @include media-tablet {
    grid-template-columns: minmax(0, 1fr);
    gap: 20px;
  }
  &__item {
    position: relative;
    align-self: flex-start;
    flex-shrink: 0;
    width: calc((100% - 80px) / 3);
    margin-top: 90px;
    padding: 20px 44px 30px 52px;
    font-weight: 600;
    font-family: $fontMs;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 15px 20px 0px rgba(24, 30, 82, 0.149);
    @include media-laptop {
      align-self: stretch;
      width: auto;
      margin-top: 0;
    }
    @include media-tablet {
      padding-left: 35px;
    }
    &::before {
      content: '';
      position: absolute;
      top: 25px;
      bottom: 30px;
      left: 30px;
      width: 3px;
      border-radius: 4px;
      background: var(--specialization-accent);
      @include media-tablet {
        left: 18px;
      }
    }
    &:nth-child(4n + 1) {
      --specialization-accent: #36a2df;
    }
    &:nth-child(4n + 2) {
      --specialization-accent: #1ba64f;
    }
    &:nth-child(4n + 3) {
      --specialization-accent: #e54724;
    }
    &:nth-child(4n) {
      --specialization-accent: #ff9922;
    }
    &:nth-child(6n + 2) {
      margin-top: 0;
      margin-bottom: 90px;
      @include media-laptop {
        margin-bottom: 0;
      }
    }
    &:nth-child(6n + 5),
    &:nth-child(6n + 8) {
      margin-top: -70px;
      @include media-laptop {
        margin-top: 0;
      }
    }
    &:nth-child(6n) {
      align-self: flex-end;
      @include media-laptop {
        align-self: stretch;
      }
    }
  }
  &__count {
    position: absolute;
    top: 14px;
    right: 18px;
    font-size: 30px;
    color: var(--specialization-accent);
    @include media-desktop {
      font-size: 24px;
    }
  }
  &__title {
    padding-right: 25px;
    font-size: 25px;
    line-height: 1.2;
    @include media-desktop {
      font-size: 20px;
    }
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  &__descr {
    font-size: 16px;
    @include media-tablet {
      font-size: 14px;
    }
  }
}
